{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} Cashier Expense {% endblock%}
{% block content %}
<div class="Finance">
    <nav class="d-flex justify-content-between align-items-center rounded mb-2 py-2 border-bottom">
        <div>
            <a href='{% url "finance:finance"%}' class='border btn bx bx-arrow-back fs-5'></a>
            <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
            <span class='mt-2 fs-5'>Expenses</span>
        </div>
        <div class="d-flex justify-content-between mt-1">
            <button type="button" class="btn btn-outline-dark mx-2" id="id_add_expense">
                Add Expense
            </button>
        </div>
    </nav>
    <div class='mt-2'>
        <table class="table table-hover table-bordered table-striped" id="cashiers_table" style="width: 100%;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    {% if request.user.role == 'admin' or request.user.role == 'supervisor' or request.user.role == 'accountant' or request.user.role == 'manager' %}
                        <th>Cashier</th>
                    {%else%}
                        <th>User</th>
                    {% endif %}
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                  <tr>
                        <td>
                            <small>{{expense.date}}</small>
                        </td>
                        <td>
                           <small>{{ expense.name }}</small>
                        </td>
                        <td>
                            <small>{{ expense.description }}</small>
                        </td>
                        <td>
                            <small>{{ expense.amount }}</small>
                        </td>
                        <td id="confidential">
                           <small>
                                {% if request.user.role == 'admin' or request.user.role == 'supervisor' or request.user.role == 'accountant' or request.user.role == 'manager' %}
                                    {{ expense.cashier.first_name |default:expense.cashier.username }}
                                {%else%}
                                    {{request.user.role}}
                                {% endif %}
                           </small>
                        </td>
                        <td>
                            <small>
                                {%if expense.status == False%}
                                    <p class="bg-danger text-center rounded-5">Pending</p>
                                {%else%}
                                    <p class="bg-success text-center rounded-5">Allocated</p>
                                {%endif%}
                            </small>
                        </td>
                        <td>
                            <small>
                                <button class="btn btn-sm bx bx-edit mx-2" onclick="editexpense({{expense.id}}, '{{expense.name}}', '{{expense.description}}', {{expense.amount}})"></button>
                                <button class="btn btn-sm bx bx-trash" onclick="deleteexpense({{expense.id}})"></button>
                                {%if request.user.role == 'accountant'%}
                                    <button class = "btn btn-sm bx bx-update"></button>
                                {%else%}
                                    {%if expense.status == False%}
                                        <button class = "btn btn-sm bx bx-check-circle" onclick="confirmexpense('{{expense.description}}', {{expense.amount}}, {{expense.id}})"></button>
                                    {%else%}
                                    {%endif%}
                                {%endif%}
                            </small>
                        </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>

    <!--Confirm expense modal-->
    <div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Confirm Expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="confirmexpenseForm">
                        <div id="div_confirm_amount" class="mb-3">
                            <label for="id_confirm_amount" class="form-label requiredField">Amount<span class="asteriskField">*</span></label>
                            <input type="number" name="id_confirm_amount" placeholder="Enter amount" value="" step="0.01" class="numberinput form-control" required="" id="id_confirm_amount" readonly>
                        </div>
                        <div class="d-flex mb-3">
                            <select name="category" class="select form-select" required="" id="id_confirm_category">
                                <option value="" selected="">---------</option>
                                {% for category in categories %}
                                    <option id="category_option" value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-outline-dark bx bx-plus ml-1" id="add_category."></button>
                        </div>
                        <div id="div_confirm_description" class="mb-3">
                            <label for="id_confirm_description" class="form-label requiredField">Description<span class="asteriskField">*</span></label>
                            <input type="text" name="id_confirm_description" placeholder="Enter description" maxlength="255" class="textinput form-control" required="" id="id_confirm_description" readonly>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SubmitConfirmExpenses()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!--Add category-->
    <div class="modal fade" id="AddCategoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Expense Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="CategoryForm">
                        <div id="div_add_category" class="mb-3">
                            <label for="id_category" class="form-label requiredField">Name<span class="asteriskField">*</span></label>
                            <input type="text" name="id_category" placeholder="Enter category" maxlength="255" class="textinput form-control" required="" id="id_category">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close_category.">Close</button>
                    <button type="button" class="btn btn-primary" onclick="CategoryExpense()">Add</button>
                </div>
            </div>
        </div>
    </div>   
    <!--Edit expense modal-->
    <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Cashier Expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div id="div_id_name_edit" class="mb-3">
                            <label for="id_name_edit" class="form-label requiredField">Name<span class="asteriskField">*</span></label>
                            <input type="text" name="name_edit" placeholder="Enter expense name" value="" step="0.01" class="textinput form-control" required="" id="id_name_edit">
                        </div>
                        <div id="div_id_amount_edit" class="mb-3">
                            <label for="id_amount_edit" class="form-label requiredField">Amount<span class="asteriskField">*</span></label>
                            <input type="number" name="id_amount_edit" placeholder="Enter amount" value="" step="0.01" class="numberinput form-control" required="" id="id_amount_edit">
                        </div>
                        <div id="div_id_description_edit" class="mb-3">
                            <label for="id_description_edit" class="form-label requiredField">Description<span class="asteriskField">*</span></label>
                            <input type="text" name="description_edit" placeholder="Enter description" maxlength="255" class="textinput form-control" required="" id="id_description_edit">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SubmitEditExpense()">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <!--Add expense modal-->
    <div class="modal fade" id="AddExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
        <div class="modal-dialog-centered modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addExpenseModalLabel">Expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addExpensesForm">
                        <div id="div_id_name" class="mb-3">
                            <label for="id_name" class="form-label requiredField">Name<span class="asteriskField">*</span></label>
                            <input type="text" name="name" placeholder="Enter expense name" value="" step="0.01" class="textinput form-control" required="" id="id_name">
                        </div>
                        <div id="div_id_amount" class="mb-3">
                            <label for="id_amount" class="form-label requiredField">Amount<span class="asteriskField">*</span></label>
                            <input type="number" name="amount" placeholder="Enter amount" value="" step="0.01" class="numberinput form-control" required="" id="id_amount">
                        </div>
                        <div id="div_id_description" class="mb-3">
                            <label for="id_description" class="form-label requiredField">Description<span class="asteriskField">*</span></label>
                            <input type="text" name="description" placeholder="Enter description" maxlength="255" class="textinput form-control" required="" id="id_description">
                        </div>
                    </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submitExpenseForm()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const addModal = new bootstrap.Modal(document.getElementById('AddExpenseModal'))
    const editModal = new bootstrap.Modal(document.getElementById('EditModal'))
    const confirmexpenseModal = new bootstrap.Modal(document.getElementById('ConfirmModal'))
    const addcategoryModal = new bootstrap.Modal(document.getElementById('AddCategoryModal'))

    document.getElementById('add_category.').addEventListener('click', ()=>{
        confirmexpenseModal.hide();
        addcategoryModal.show();
    })

    document.getElementById('close_category.').addEventListener('click', ()=>{
        addcategoryModal.hide();
        confirmexpenseModal.show();
    })

    document.getElementById('id_add_expense').addEventListener('click', ()=>{
        addModal.show();
    })
    
    function submitExpenseForm() {
        const name = document.getElementById('id_name').value;
        const amount = document.getElementById('id_amount').value;
        const description = document.getElementById('id_description').value;

        const data = {
            name: name,
            amount: amount,
            description: description,
        };

        console.log(data) 

        const url = window.location.href;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                    title: 'Success!',
                    text: 'Expense successfully saved.',
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                    document.getElementById('id_name').value = '';
                    document.getElementById('id_amount').value = '0';
                    document.getElementById('id_description').value = '';

                });
            } else {
                Swal.fire({
                    title: 'Error!',
                    text: data.message || 'An error occurred while adding the expense.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        })
        .catch(error => {
            Swal.fire({
                title: 'Error!',
                text: 'An error occurred while processing your request.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    }

    function deleteexpense(id){
        data = {
            expense_id: id
        }
        let url = window.location.href;
        fetch(url,{
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify(data),
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                    title: 'Success!',
                    text: 'Expense successfully deleted.',
                    icon: 'success'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            } else {
                Swal.fire({
                    title: 'Error!',
                    text: data.message || 'An error occurred while deleting the expense.',
                    icon: 'error'
                });
            }
        })
    }

    let edit_id = 0
    function editexpense(id, name, description, amount){
        
        edit_id = id;
        document.getElementById('id_name_edit').value = name;
        document.getElementById('id_amount_edit').value = amount ;
        document.getElementById('id_description_edit').value = description;
        
        editModal.show();
    }

    function SubmitEditExpense(){
        let name = document.getElementById('id_name_edit').value;
        let description = document.getElementById('id_description_edit').value;
        let amount = document.getElementById('id_amount_edit').value;

        const data = {
            expense_id : edit_id,
            name : name,
            description : description,
            amount : amount
        };
        
        console.log('data', data)
        url = window.location.href
        fetch(url,{
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify(data),
        }).then(response => response.json())
        .then(data => {
            if(data.success){
                Swal.fire({
                    title: 'Success!',
                    text: 'Expense successfully edited.',
                    icon: 'success',
                });
            }else{
                Swal.fire({
                    title: 'Failed',
                    text: data.message,
                    icon: 'error'
                });
            }
        });
    }

    let expense_id = 0
    function confirmexpense(description, amount, id){
        document.getElementById('id_confirm_amount').value = amount;
        document.getElementById('id_confirm_description').value = description;
        expense_id = id
        confirmexpenseModal.show();

    }
    
    function SubmitConfirmExpenses(){

        amount = document.getElementById('id_confirm_amount').value;
        description = document.getElementById('id_confirm_description').value;
        category = Number(document.getElementById('id_confirm_category').value);

        data = {
            expense: expense_id,
            amount: amount,
            description: description,
            category: category,
            debit: 'True'
        }

        url = "{%url 'finance:expenses'%}";
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data),
        }).then(response => response.json())
        .then(data => {
            if(data.success){
                Swal.fire({
                    icon: 'success',
                    text: data.message,
                    title: 'Success'
                });
                location.reload();
                document.getElementById('id_confirm_amount').value = '';
                document.getElementById('id_confirm_description').value = '';
                document.getElementById('id_confirm_category').value = '';


            }else{
                Swal.fire({
                    icon: 'error',
                    text: data.message,
                    title: 'Failed'
                });
            }
        });
        
    }

    function CategoryExpense(){
        name = document.getElementById('id_category').value;

        data = {
            name:name
        };

        url = "{% url 'finance:add_expense_category'%}";
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data),
        }).then(response => response.json())
        .then(data =>{
            if(data.success){
                Swal.fire({
                    icon: 'success',
                    text: 'Added successfully',
                    title: 'Success'
                });

                document.getElementById('id_category').value = '';
                category_data = data.data;
                

                category_data.forEach(item => {
                    const select = document.getElementById('id_confirm_category');
                    const option = document.createElement('option');
                  
                    option.value = item.id;
                    option.textContent = item.name;
                  
                    select.appendChild(option);
                });
            }else{
                Swal.fire({
                    icon: 'error',
                    text: data.message,
                    title: 'Failed'
                });
                document.getElementById('id_category').value = '';
            }
        });
    }


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}