{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} COGS {% endblock%}
{% block content %}
<div class="Finance">
    <nav class="d-flex justify-content-between align-items-center rounded mb-2 py-2 border-bottom">
        <div>
            <a href='{% url "finance:finance"%}' class='border btn bx bx-arrow-back fs-5'></a>
            <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
            <span class='mt-2 fs-5'>Cost Of Sales</span>
        </div>
    </nav>
    <table class="table table-hover table-bordered table-striped table-hover" id="cogs_table" style="width: 100%;">
        <thead>
            <tr>
                <th>Date</th>
                <th>Production</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for cog in cogs%}
              <tr>
                    <td><small>{{ cog.date }}</small></td>
                    <td><small>{{ cog.production.production_plan_number }}</small></td>
                    <td><small>{{ cog.amount }}</small></td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    
   <script>
        new DataTable('#cogs_table')
   </script>    
</div>
{% endblock %}