{% extends "base.html" %}
{% load static %}
{% block title %} Finance Overview {% endblock title %}
{% block content %}
    <div class="finance">
        <div class="container-fluid ">
            <div class="row">
                <section class="col-3">
                    <div class="row flex-column">
                        <div class="bg-primary rounded">
                            <div class="card mb-4 mt-2">
                                <div class="card-body">
                                    <div class="">
                                        <div class="btn-group" role="group" aria-label="Date Filters">
                                            <button type="button" class="btn btn-sm btn-warning text-light" onclick="fetchData('today');">Today</button>
                                            <button type="button" class="btn btn-dark btn-sm" onclick="fetchData('this_month');">This Month</button>
                                            <button type="button" class="btn btn-sm btn-warning text-light" onclick="fetchData('last_week');">Last Week</button>
                                            <button type="button" class="btn btn-dark btn-sm" onclick="fetchData('year');">This Year</button>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-body">
                                    <h1 class="h6">Sales</h1>
                                    <h2 id="id_income" class="text-center">$3000.00</h2>
                                </div>
                            </div>
        
                            <div class="card mb-4">
                                <div class="card-body ">
                                    <h1 class="h6">Total Expenses</h1>
                                    <h2 class="text-center" id="id_expense">$4000.00</h2>
                                </div>
                            </div>
        
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h1 class="h6">P&L Overview</h1>
                                    <h2 class="text-center" id="pl_overview_total">$0.00</h2>
                            
                                    <table class="table table-borderless">
                                        
                                        <tbody>
                                            <tr>
                                                <td>Income</td>
                                                <td id="net_income_amount">0.00</td>
                                                <!-- <td>
                                                    <span id="net_income_change" class="bg-success rounded p-1">
                                                        <i class='bx bxs-up-arrow text-light'></i>
                                                        <span class="mx-1">0%</span>
                                                    </span>
                                                </td> -->
                                            </tr>
                                            <tr>
                                                <td>COGS</td>
                                                <td id="id_cogs">0.00</td>
                                                <!-- <td>
                                                    <span id="expense_change" class="bg-danger rounded p-1">
                                                        <i class='bx bxs-down-arrow text-light'></i>
                                                        <span class="mx-1 text-light">0%</span>
                                                    </span>
                                                </td> -->
                                            </tr>
                                            <tr>
                                                <td>Gross Profit</td>
                                                <td id="id_gp_metrix_amount" class="border-top">0.00</td>
                                                <!-- <td>
                                                    <span id="gp_change" class="bg-danger rounded p-1">
                                                        <i class='bx bxs-down-arrow text-light'></i>
                                                        <span class="mx-1 text-light">0%</span>
                                                    </span>
                                                </td> -->
                                            </tr>
                                            <tr>
                                                <td>Expenses</td>
                                                <td id="id_expenses_metrix_amount">0.00</td>
                                                <!-- <td>
                                                    <span id="gpm_change">
                                                        <i class='bx bxs-down-arrow text-danger'></i>
                                                        <span class="mx-1 text-danger">0%</span>
                                                    </span>
                                                </td> -->
                                            </tr>
                                            <tr>
                                                <td>Net profit</td>
                                                <td id="id_net_metrix_amount" class="border-top border-bottom">0.00</td>
                                                <!-- <td>
                                                    <span id="gpm_change" class="bg-danger rounded p-1">
                                                        <i class='bx bxs-down-arrow text-light'></i>
                                                        <span class="mx-1 text-light">0%</span>
                                                    </span>
                                                </td> -->
                                            </tr>
                                            <tr>
                                                <td>Gross Profit Margin</td>
                                                <td id="id_gpm_metrix">0.00</td>
                                                <!-- <td>
                                                    <span id="gpm_change">
                                                        <i class='bx bxs-down-arrow text-danger'></i>
                                                        <span class="mx-1 text-danger">0%</span>
                                                    </span>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <main role="main" class="col-9 px-4">
                    <nav class="d-flex justify-content-between align-items-center mt-3">
                        <h2 class='fw-bold'>Finance Dashboard</h2>
                        <div>
                            <a href="{% url 'finance:cashiers_list' %}" class="btn btn-outline-dark">Cashiers</a>
                            <a href="{% url 'finance:cogs' %}" class="btn btn-outline-dark mx-2">Cogs</a>
                            <a href="{% url 'finance:cashbook' %}" class="btn btn-outline-dark">Cashbook</a>
                            <a href="{% url 'finance:cash_up' %}" class="btn btn-outline-dark mx-2">Cashups</a>
                            <a href="{% url 'finance:expenses' %}" class="btn btn-outline-dark">Expenses</a>
                            <button type="button" class="btn btn-outline-dark mx-2" data-bs-toggle="modal" data-bs-target="#timeFrameModal">
                                Reports
                            </button>
                        </div>
                    </nav>

                    <!-- <div class="row mt-4">
                        <div class="col">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <div class>
                                        <canvas id="incomeChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <div class="">
                                        <canvas id="expenseChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  -->

                    <div class="mt-4">
                        <table class="table border table-bordered table-responsive table-hover table-striped" id="sales-table">
                            <thead>
                                <tr>
                                    <th class="bg-primary text-light"></th>
                                    <th class="bg-primary text-light"></th>
                                    <th class="bg-primary text-light">Monday</th>
                                    <th class="bg-primary text-light">Tuesday</th>
                                    <th class="bg-primary text-light">Wednesday</th>
                                    <th class="bg-primary text-light">Thursday</th>
                                    <th class="bg-primary text-light">Friday</th>
                                    <th class="bg-primary text-light">Saturday</th>
                                    <th class="bg-primary text-light">Sunday</th>
                                    <th class="bg-primary text-light"></th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                
                            </tbody>
                        </table>
                    </div>

                    <!-- <div class="row">
                        <div class="col">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <small class="card-text text-muted">Year to Date</small>
                                    <div class="">
                                        <h1 class="h6 text-center">Expenses per category</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <small class="card-text text-muted">Year to Date</small>
                                    <div class="">
                                        <h1 class="h6 text-center">Income by category</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    {% comment %} <div class="row">
                        <div class="col">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h1 class="card-text text-muted h6">Sales transactions</h1>
                                    <div class="">
                                        <table class="table table-light rounded table-borderless table-repsonsive table-hover">
                                            <thead>
                                                <th>Date</th>
                                                <th>Receipt</th>
                                                <th>Amount</th>
                                            </thead>
                                            <tbody>
                                                {% for sale in sales %}
                                                  <tr>
                                                    <td><small>{{ sale.date }}</small></td>
                                                    <td><small>{{ sale.receipt_number }}</small></td>
                                                    <td>{{ sale.total_amount }}
                                                  </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h1 class="card-text text-muted h6">Expenses transactions</h1>
                                    <div class="">
                                        <table class="table table-light rounded table-borderless table-repsonsive table-hover">
                                            <thead class="">
                                                <th>Date</th>
                                                <th>Description</th>
                                                <th>Amount</th>
                                            </thead>
                                            <tbody>
                                                {% for expense in expenses %}
                                                  <tr>
                                                    <td class="{% if expense.cancel %}text-decoration-line-through text-danger{% endif %}"><small>{{ expense.date }}</small></td>
                                                    <td class="{% if expense.cancel %}text-decoration-line-through text-danger{% endif %}"><small>{{ expense.description }}</small></td>
                                                    <td class="{% if expense.cancel %}text-decoration-line-through text-danger{% endif %}">{{ expense.amount }}
                                                  </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Time Frame Modal -->
    <div class="modal fade" id="timeFrameModal" tabindex="-1" aria-labelledby="timeFrameModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="timeFrameModalLabel">Select Time Frame</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form id="timeFrameForm">
                <div class="mb-3">
                <label for="timeFrame" class="form-label">Choose a Time Frame</label>
                <select class="form-select" id="timeFrame" name="timeFrame" required>
                    <option value="today">Today</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                    <option value="custom">Custom</option>
                </select>
                </div>
                <div class="mb-3 d-none" id="customTimeFrame">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="endDate" name="endDate">
                </div>
                <button type="submit" class="btn btn-primary w-100">Generate Report</button>
            </form>
            </div>
        </div>
        </div>
    </div>
  
    <script>
        
        fetch('/finance/days_data')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            populateTable(data);
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });

        function getWeekday(dateStr) {
            const date = new Date(dateStr);
            return date.toLocaleString('en-us', { weekday: 'long' });
        }
        function populateTable(data) {
            const tbody = document.getElementById('table-body');

            for (const week in data) {
                const weekData = data[week];
                
                const dailySales = { "Monday": 0, "Tuesday": 0, "Wednesday": 0, "Thursday": 0, "Friday": 0, "Saturday": 0, "Sunday": 0 };
                const dailyCOGS = { "Monday": 0, "Tuesday": 0, "Wednesday": 0, "Thursday": 0, "Friday": 0, "Saturday": 0, "Sunday": 0 };

                weekData.sales.forEach(sale => {
                    const day = getWeekday(sale.date);
                    dailySales[day] += parseFloat(sale.total_amount);
                });

                weekData.cogs.forEach(cogs => {
                    const day = getWeekday(cogs.date);
                    dailyCOGS[day] += parseFloat(cogs.amount);
                });

                const totalSales = Object.values(dailySales).reduce((a, b) => a + b, 0);
                const totalCOGS = Object.values(dailyCOGS).reduce((a, b) => a + b, 0);
                const grossProfit = totalSales - totalCOGS;

                const salesRow = document.createElement('tr');
                const cogsRow = document.createElement('tr');
                const grossProfitRow = document.createElement('tr');
                const gapRow = document.createElement('tr');
                const daysRow = document.createElement('tr'); 

                salesRow.innerHTML = `<td></td><td class=''>Sales</td>`;
                cogsRow.innerHTML = `<td class='fw-bold'>${week}</td><td class='text-danger'>COS</td>`;
                grossProfitRow.innerHTML = `<td></td><td class=''>Gross Profit</td>`;
                gapRow.innerHTML += `<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>`;
                daysRow.innerHTML += `
                    <td class="bg-primary text-light"></td>
                    <td class="bg-primary text-light"></td>
                    <td class="bg-primary text-light">Monday</td>
                    <td class="bg-primary text-light">Tuesday</td>
                    <td class="bg-primary text-light">Wednesday</td>
                    <td class="bg-primary text-light">Thursday</td>
                    <td class="bg-primary text-light">Friday</td>
                    <td class="bg-primary text-light">Saturday</td>
                    <td class="bg-primary text-light">Sunday</td>
                    <td class="bg-primary text-light"></td>
                `;

                ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].forEach(day => {
                    salesRow.innerHTML += `<td>${dailySales[day].toFixed(2)}</td>`;
                    cogsRow.innerHTML += `<td class='text-danger'>${dailyCOGS[day].toFixed(2)}</td>`;
                    grossProfitRow.innerHTML += `<td>${(dailySales[day] - dailyCOGS[day]).toFixed(2)}</td>`;
                    //gapRow.innerHTML += `<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>`;
                });

                salesRow.innerHTML += `<td class='fw-bold'>${totalSales.toFixed(2)}</td>`;
                cogsRow.innerHTML += `<td class='fw-bold  text-danger'>${totalCOGS.toFixed(2)}</td>`;
                grossProfitRow.innerHTML += `<td class='fw-bold' style='background#fcd298'>${grossProfit.toFixed(2)}</td>`;
            
                tbody.appendChild(salesRow);
                tbody.appendChild(cogsRow);
                tbody.appendChild(grossProfitRow);

                if (['week 1', 'week 2', 'week 3'].includes(week)) {
                    tbody.appendChild(daysRow);
                }
            }
        }
        
        document.getElementById('timeFrame').addEventListener('change', function () {
            const customTimeFrame = document.getElementById('customTimeFrame');
            if (this.value === 'custom') {
              customTimeFrame.classList.remove('d-none');
            } else {
              customTimeFrame.classList.add('d-none');
            }
          });
          
          document.getElementById('timeFrameForm').addEventListener('submit', function (event) {
            event.preventDefault();
            
            const timeFrame = document.getElementById('timeFrame').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
        
            let queryParams = new URLSearchParams({ timeFrame });
        
            if (timeFrame === 'custom') {
                queryParams.append('startDate', startDate);
                queryParams.append('endDate', endDate);
            }
        
            fetch(`generate-report/?${queryParams.toString()}`)
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = `income_statement_${timeFrame}.pdf`;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error generating report:', error));
            
            const timeFrameModal = new bootstrap.Modal(document.getElementById('timeFrameModal'));
            timeFrameModal.hide();
        });
        
          
        function fetchData(filter) {
                fetch(`/finance/income_json/?filter=${filter}`)
                    .then(response => response.json())
                    .then(data => {
                        const sales = data.sales_total
                        document.getElementById('id_income').textContent = `$${sales}`;
                    });

                fetch(`/finance/expense_json/?filter=${filter}`)
                    .then(response => response.json())
                    .then(data => {
                        const expenses = data.expense_total;
                        document.getElementById('id_expense').textContent = `$${expenses}`;
                    });

                fetch(`/finance/pl_overview/?filter=${filter}`)
                    .then(response => response.json())
                    .then(data => {
                        const net_income = data.current_net_income;
                        document.getElementById('net_income_amount').textContent = `$${net_income}`;
                        document.getElementById('id_cogs').textContent = `$${data.cogs_total}`
                        document.getElementById('id_gp_metrix_amount').textContent = `$${data.current_gross_profit}`
                        document.getElementById('id_gpm_metrix').textContent = `${data.current_gross_profit_margin}%`
                        document.getElementById('id_expenses_metrix_amount').textContent = `$${data.current_expenses}`
                        document.getElementById('id_net_metrix_amount').textContent = `$${data.current_net_profit}`
                        document.getElementById('pl_overview_total').textContent = `$${data.current_net_profit}`

                        if(data.current_net_profit < 0){
                            document.getElementById('pl_overview_total').classList.add('text-danger')
                            console.log(data.current_net_profit)
                        }
                    });
            }
            fetchData('today');
        document.addEventListener('DOMContentLoaded', function() {

            {% comment %} const monthSelect = document.createElement('select');
            const months = [
                'January', 'February', 'March', 'April', 'May', 'June',
                'July', 'August', 'September', 'October', 'November', 'December'
            ];

            const currentMonth = new Date().getMonth(); 

            const currentMonthOption = document.createElement('option');
            currentMonthOption.value = currentMonth + 1;
            currentMonthOption.text = months[currentMonth];
            currentMonthOption.selected = true;
            monthSelect.appendChild(currentMonthOption);

            months.forEach((month, index) => {
                if (index !== currentMonth) {
                    const option = document.createElement('option');
                    option.value = index + 1;
                    option.text = month;
                    monthSelect.appendChild(option);
                }
            });

            const incomeMonthElement = document.getElementById('id_income_month');
            incomeMonthElement.innerHTML = '';
            incomeMonthElement.appendChild(monthSelect);

            monthSelect.addEventListener('change', function() {
                const selectedMonth = monthSelect.value;

                fetch(`/finance/income_json?month=${selectedMonth}`)
                    .then(response => response.json())
                    .then(data => {
                        total_sales = parseFloat(data.sales_total)
                        document.getElementById('id_income').innerText = `$${total_sales.toFixed(2)}`;
                    });

                fetch(`/finance/expense_json?month=${selectedMonth}`)
                    .then(response => response.json())
                    .then(data => {
                        total_expenses = parseFloat(data.expense_total)
                        document.getElementById('id_expense').innerText = `$${total_expenses.toFixed(2)}`;
                    });
            });
            monthSelect.dispatchEvent(new Event('change'));
 {% endcomment %}

        // graphs

        Chart.register({
            id: 'customCanvasBackgroundColor',
            beforeDraw: (chart) => {
                const ctx = chart.canvas.getContext('2d');
                ctx.save();
                ctx.globalCompositeOperation = 'destination-over';
                ctx.fillStyle = chart.config.options.plugins.customCanvasBackgroundColor.color || '#ffffff';
                ctx.fillRect(0, 0, chart.width, chart.height);
                ctx.color
                ctx.restore();
            }
        });

        const monthLabels = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

        function fetchAndRenderChart(url, ctx, chartLabel) {
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const chartData = monthLabels.map((label, index) => data[index + 1] || 0);
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: monthLabels,
                            datasets: [{
                                label: chartLabel,
                                data: chartData,
                                backgroundColor: 'transparent', 
                                borderColor: '#dedede',
                                borderWidth: 1,
                                pointRadius: 0, 
                                pointHoverRadius: 0 
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        color: 'white' 
                                    },
                                    grid: {
                                        color: '#111' 
                                    }
                                },
                                x: {
                                    ticks: {
                                        color: '#fff' 
                                    },
                                    grid: {
                                        color: '#111' 
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    labels: {
                                        color: 'white' // Color of legend text
                                    }
                                },
                                customCanvasBackgroundColor: {
                                    color: '#111' // Background color of the chart area
                                }
                            },
                            responsive: true,
                            maintainAspectRatio: false
                        }
                    });
                });
        }

        const incomeCtx = document.getElementById('incomeChart').getContext('2d');
        fetchAndRenderChart('/finance/income_graph/', incomeCtx, 'Monthly Income');

        const expenseCtx = document.getElementById('expenseChart').getContext('2d');
        fetchAndRenderChart('/finance/expense_graph/', expenseCtx, 'Monthly Expenses');


        {% comment %} // metrixes
        fetch('/finance/pl_overview/')
        .then(response => response.json())
        .then(data => {
            
            document.getElementById('net_income_amount').innerText = data.current_net_income.toFixed(2);
            
            document.getElementById('net_income_change').innerText = `${data.net_income_change.toFixed(2)}%`;
            if (data.net_income_change >= 0) {
                document.getElementById('net_income_change').className = 'bg-success rounded p-1';
            } else {
                document.getElementById('net_income_change').className = 'bg-danger rounded p-1';
            }

            
            document.getElementById('id_gp_metrix_amount').innerText = data.current_gross_profit.toFixed(2);
            
            document.getElementById('gp_change').innerText = `${data.gross_profit_change.toFixed(2)}%`;
            if (data.gross_profit_change >= 0) {
                document.getElementById('gp_change').className = 'bg-success rounded p-1';
            } else {
                document.getElementById('gp_change').className = 'bg-danger rounded p-1';
            }

            
            document.getElementById('id_gpm_metrix_amount').innerText = data.current_gross_profit_margin.toFixed(2);
            
            document.getElementById('gpm_change').innerText = `${data.gross_profit_margin_change.toFixed(2)}%`;
            if (data.gross_profit_margin_change >= 0) {
                document.getElementById('gpm_change').className = 'bg-success rounded p-1';
            } else {
                document.getElementById('gpm_change').className = 'bg-danger rounded p-1';
            }

            
            document.getElementById('id_expense_metrix_amount').innerText = data.current_gross_profit.toFixed(2); 
            
            document.getElementById('expense_change').innerText = `${data.gross_profit_change.toFixed(2)}%`;
            if (data.gross_profit_change >= 0) {
                document.getElementById('expense_change').className = 'bg-danger rounded p-1';
            } else {
                document.getElementById('expense_change').className = 'bg-success rounded p-1';
            }
        }); {% endcomment %}


    });
    </script>
{% endblock %}
