{% extends 'base.html'%}
{% load static %}
{% block title %}Transfers{% endblock title %}
{% block content %}
<style>
    .empty-cart-text {
        margin-top: 10px;
        font-size: 14px;
        color: #999;
    }    
</style>
<div class=" container mt-3">
    <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
        <div>
            <a href='{% url "inventory:transfers"%}' class='border btn bx bx-arrow-back fs-5'></a>
            <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
            <span class='mt-2 fs-5'>Transfer to Production</span>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-9" style='height:70vh; overflow-y:auto;'>
            <div id="productList">
                <h5 class='px-1 fw-bold py-3'>Available Products</h5>
                <hr/>
                <table class='table table-bordered' id='available'>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Transfer Quantity</th>
                            <th>Add to Cart</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td><small>{{ product.name }}</small></td>
                            <td><small>{{ product.quantity | floatformat:2 }}</small></td>
                            <td><small><input type="number" class='form-control' id="quantity_{{ product.id }}" min="0" max="{{ product.quantity }}" value="0"></small></td>
                            <td><small><button type="button" class='btn btn-outline-dark' onclick="addToCart({{ product.id }}, '{{ product.name }}', {{ product.quantity }})">Add</button></small></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3 rounded border" style="height: 70vh; background: white; overflow-y: auto; display: flex; flex-direction: column;">
            <div id="cartItems">
                <div class="text-center">
                    <h5>Transfer Items</h5>
                    <p class="empty-cart-text">Transfer cart is empty.</p>
                </div>
            </div>
            
            <form id="transferForm" class="d-flex justify-content-end mt-auto">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary w-100 btn-sm">Transfer to Production</button>
            </form>
        </div>        
    </div>
    <script>
        let cart = [];
        document.addEventListener('DOMContentLoaded', function() {
            new DataTable('#available',{
                paging:false
            });
            
            renderCartItems();
        
            document.querySelector('#transferForm').addEventListener('submit', function(e) {
                e.preventDefault();
        
                if (cart.length === 0) {
                    Swal.fire('Error', 'Your cart is empty!', 'error');
                    return;
                }
        
                fetch("{% url 'inventory:add_transfer' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ cart: cart })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire('Success', 'Transfer successful!', 'success').then(() => {
                            cart = []; 
                            renderCartItems();
                        });
                    } else {
                        Swal.fire('Error', data.message, 'error');
                    }
                })
                .catch(error => Swal.fire('Error', 'Something went wrong!', 'error'));
            });
        });
        
        function addToCart(product_id, product_name, max_quantity) {
            const quantityInput = document.getElementById(`quantity_${product_id}`);
            const quantity = parseFloat(quantityInput.value);
        
            if (quantity > max_quantity || quantity <= 0) {
                Swal.fire('Error', `Invalid quantity. Available quantity: ${max_quantity}`, 'error');
                return;
            }
        
            const existingItem = cart.find(item => item.product_id === product_id);
        
            if (existingItem) {
                existingItem.quantity += quantity;
            } else {
                cart.push({ product_id, product_name, quantity });
            }
        
            renderCartItems();
        }
        
        function renderCartItems() {
            const cartItemsDiv = document.getElementById('cartItems');
            const emptyCartMessage = document.createElement('p');
            emptyCartMessage.id = 'emptyCartMessage';
            emptyCartMessage.className = 'empty-cart-text';
            emptyCartMessage.innerText = 'Empty Transfer Cart :)';
        
            if (cart.length === 0) {
                cartItemsDiv.innerHTML = ''; 
                cartItemsDiv.classList.add('d-flex', 'justify-content-center', 'align-items-center');
                cartItemsDiv.appendChild(emptyCartMessage);
            } else {
                cartItemsDiv.classList.remove('d-flex', 'justify-content-center', 'align-items-center');
                cartItemsDiv.innerHTML = ''; 
        
                const table = document.createElement('table');
                table.classList.add('table');
                table.classList.add('table-bordered')
                const headerRow = document.createElement('tr');
                headerRow.innerHTML = '<th>Product Name</th><th>Quantity</th><th>Actions</th>';
                table.appendChild(headerRow);
        
                cart.forEach((item, index) => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${item.product_name}</td>
                        <td>${item.quantity}</td>
                        <td>
                            <button type="button" class='btn bx bx-trash' onclick="removeFromCart(${index})"></button>
                        </td>
                    `;
                    table.appendChild(row);
                });
        
                cartItemsDiv.appendChild(table);
            }
        }
        
        
        function removeFromCart(index) {
            cart.splice(index, 1);
            renderCartItems();
        }        
    </script>
</div>
{% endblock content %}
