
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} 
    {% if confirm %}
        Confirm Production Plan
    {% else %}
        Production Plan Detail
    {% endif %}
 {% endblock %}
{% block content %}

<div class="inventory">
    <div class='add-production-plan'>
        <div class='production-plan mt-2 d-flex justify-content-between align-items-center'>
            <div>
                <a href='{% url "inventory:production_plans" %}' class='border btn bx bx-arrow-back fs-5'></a>
                <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
                {% if confirm %}
                    <span class='mt-2 fs-5'>Confirm Production Plan : {{ production_plan.production_plan_number }}</span>
                {% else %}
                    <span class='mt-2 fs-5'>Production Plan : {{ production_plan.production_plan_number }} Detail</span>
                {% endif %}
              </div>
            <div>
                <ul class="list-unstyled mt-3 d-flex align-items-center">
                    <li>
                        <a href="{% url 'inventory:production_plans' %}" class="mx-2 btn border">Production Plan</a>
                    </li>
                    {% if not production_plan.declared %}
                        {% if not confirm %}
                            <li>
                                <a href="{% url 'inventory:declare_production_plan' production_plan.id %}" class="btn border btn-dark text-light">Declare production plan</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <button class="btn border btn-primary text-light" disabled>Production Plan Declared</pf=>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="d-flex align-items-center justify-content-between border rounded p-2 bg-dark text-light">
                    <h5 class="fw-bold">Major Raw Materials</h5>
                    <h5 class="fw-bold">Total Cost: ${{ total_cost_items }}</h5>
                </div>
                <table class="table" id='plan_item_table' style="width:100%;">
                    <thead class="bg-primary">
                        <th>Raw Material</th>
                        <th>Dish</th>
                        <th>Quantity</th>
                        <th>RM B/F Quantity</th>
                        <th>LF B/f Quantity</th>
                        <th>Actual Quantity</th>
                        <th>Declared Quantity</th>
                        <th>Portion Multiplier</th>
                        <th>Portions</th>
                        <th>Total Cost</th>
                    </thead>
                    <tbody>
                        {% for item in production_plan_items  %}
                          <tr>
                            <td><small>{{ item.raw_material }}</small></td>
                            <td><small>{{ item.dish.name }}</small></td>
                            <td><small>{{ item.quantity }} {{ item.raw_material.unit }}</small></td>
                            <td><small>{{ item.rm_carried_forward_quantity }} {{ item.raw_material.unit }}</small></td>
                            <td><small>{{ item.lf_carried_forward_quantity }} {{ item.raw_material.unit }}</small></td>
                            <td><small>{{ item.actual_quantity }} {{ item.raw_material.unit }}</small></td>
                            <td><small>{{ item.declared_quantity }}</small></td>
                            <td><small>{{ item.dish.portion_multiplier }}</small></td>
                            <td><small>{{ item.portions }} portions</small></td>
                            <td><small>{{ item.total_cost }}</small></td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
                <div class=" mt-4 mb-2 d-flex align-items-center justify-content-between border rounded p-2 bg-dark text-light">
                    <h5 class="fw-bold">Minor Raw Materials</h5>
                    <h5 class="fw-bold">Total Cost: ${{ total_cost_minor_items }}</h5>
                </div>

                <table class="table" id="minor">
                    <thead class="bg-primary">
                        <tr>
                            <th>Raw Material</th>
                            <th>Total Ingr Quantity (per kg)</th>
                            <th>Planned Quantity (kgs)</th>
                            <th>Expected Quantity (Planned x Total Quantity)</th>
                            <th>Cost (per kg)</th>
                            <th>Total Cost</th>
                            {% if confirm %}
                                <th>Kitchen Raw Material</th>
                            {% endif %}
                            {% if confirm %}
                                <th>Actual Quantity Needed</th>
                            {%else%}
                                <th>Declared Quantity</th>
                            {% endif %}
                            {% if confirm %}
                                <th>Confirm Raw Material</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in production_plan_minor_items %}
                        <tr data-id="{{ item.minor_raw_material.id }}">
                            <td><small>{{ item.minor_raw_material }}</small></td>
                            <td><small>{{ item.total_quantity_per_kg }}</small></td>
                            <td><small>{{ item.planned_quantity }}</small></td>
                            <td>
                                <small data-expected-quantity="{{ item.expected_quantity }}">
                                    {{ item.expected_quantity }}
                                </small>
                            </td>
                            <td><small>{{ item.cost_per_kg }}</small></td>
                            <td><small>{{ item.total_cost }}</small></td>
                            {% if confirm %}
                                <td>
                                    <small data-kitchen-quantity="{{ k_item.quantity }}">
                                        {% if k_item.id == item.id %}
                                        {{ k_item.quantity }}
                                        {% endif %}
                                    </small>
                                </td>
                            {% endif %}
                            <td><small id="actual_needed_quantity"></small></td>
                            {% if confirm %}
                            <td>
                                {% csrf_token %}
                                <input type="number" id="quantity">
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                

                {% if confirm %}
                    <div class="d-flex justify-content-end mt-4">
                        <a href="" class="btn btn-danger text-light mx-2">Cancel</a>
                        <a href="{% url 'inventory:process_production_plan' production_plan.id %}" class="btn-primary text-light btn">Confirm</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new DataTable('#plan_item_table');
        new DataTable('#minor');
        
        // Function to calculate and update the actual quantity needed
        function updateActualQuantities() {
            document.querySelectorAll('#minor tbody tr').forEach(function (row) {
                const expectedQuantity = parseFloat(row.querySelector('[data-expected-quantity]').textContent);
                const kitchenRawMaterialQuantity = parseFloat(row.querySelector('[data-kitchen-quantity]').textContent) || 0;
                console.log(expectedQuantity, kitchenRawMaterialQuantity)
                if (!isNaN(expectedQuantity) && !isNaN(kitchenRawMaterialQuantity)) {
                    const actualNeededQuantity = expectedQuantity - kitchenRawMaterialQuantity;
                    row.querySelector('#actual_needed_quantity').textContent = actualNeededQuantity.toFixed(2);
                } else {
                    row.querySelector('#actual_needed_quantity').textContent = 'N/A'; // Handle cases where data might be missing
                }
            });
        }

        // Call the function to update quantities on page load
        updateActualQuantities();
        
        document.querySelectorAll('#minor input[type="number"]').forEach(function (input) {
            input.addEventListener('change', function () {
                const quantityEntered = parseFloat(this.value);
                const row = this.closest('tr');
                console.log(quantityEntered)

                if (!isNaN(quantityEntered)) {
                   console.log(quantityEntered)
                    // Mark the row as done
                    row.style.backgroundColor = 'lightgreen'; 
                    
                    // Send the confirmed quantity to the backend
                    const rawMaterialId = row.getAttribute('data-id');
                    console.log(row)
                    fetch('/inventory/confirm_minor_raw_materials/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val(), // ensure you include the CSRF token
                        },
                        body: JSON.stringify({
                            raw_material_id: rawMaterialId,
                            quantity: quantityEntered,
                            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            input.disabled = true; // This makes the input field readonly
                            row.style.backgroundColor = '#d3d3d3';
                            console.log('Quantity confirmed');
                        } else {
                            console.error('Error confirming quantity:', data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            });
        });
    });
</script>

{% endblock content %}