{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create Production Plan {% endblock %}
{% block content %}
<div>
    <div class='d-flex justify-content-between align-items-center border-bottom'>
        <div>
            <a href='{% url "inventory:production_plans"%}' class='border btn bx bx-arrow-back fs-5'></a>
            {% if request.user.role != 'chef'%}
                <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
            {% else %}
                <span class='mx-2'></span>
            {% endif %}
            <span class='mt-2 fs-5'>Create Production Plan</span>
        </div>
        <div>
            <ul class="list-unstyled mt-3">
                <li>
                    <a href="{% url 'inventory:production_plans' %}" class="btn border">Production Plan</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-9">
            <table class="table">
                <thead class="bg-primary">
                    <th>Dish</th>
                    <th>Portions</th>
                    <th>Total Cost</th>
                </thead>
                <tbody id="cart-items"></tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button class="btn border bx bx-reset mx-2" id="id_reset"></button>
                <button class="btn-primary btn sm bx bx-save" id="id_submit"></button>
            </div>
        </div>
        <div class="col-3 mt-2">
            <form id="production-plan-form" action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="button" id="save-button" class="btn btn-secondary btn-sm w-100">Save</button>
            </form>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    let cart = [];
    let unit_cost = 1;
    let unit_of_measurement = '';
    let portion_multiplier = 1;
    let ingredientsData = [];

    let lf = document.getElementById('id_lf_carried_forward_quantity');
    let rm = document.getElementById('id_rm_carried_forward_quantity');

    let quantity = document.getElementById('id_quantity');
    let actual = document.getElementById('id_actual_quantity');

    $('#id_dish').select2();

    //reset button
    $('#id_reset').on('click', function(){
      cart = []
      updateCartTable()
    })

    // submit button 
    $('#id_submit').on('click', function(){
      const postData = {
        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
        cart: cart
    };

    fetch('{% url "inventory:create_production_plan" %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        body: JSON.stringify(postData)
    })
    .then(response => response.json())
    .then(data => {
        if (data.success){
            Swal.fire({
                title: "Success",
                text: "Production plan created successfully!",
                icon: "success"
            }).then(()=>{
                window.location.href="{% url 'inventory:production_plans' %}"
            });
        } else {
            Swal.fire({
                title: "Error",
                text: data.message,
                icon: "error"
            });
        }
    })
    .catch(error => {
        console.error('Error submitting production plan:', error);
    });
    })

    $('#id_dish').on('change', function(e) {
        const selectedProductId = e.target.value;
        console.log(selectedProductId)
        const postData = {
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            dish_id: selectedProductId,
        };

        fetch('{% url "inventory:dish_json_detail" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            body: JSON.stringify(postData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success){
                ingredientsData.push(data.data)
                portion_multiplier = data.portion_multiplier                                                                                
            } else {
                Swal.fire({
                    title: "Error",
                    text: data.message,
                    icon: "error"
                });
            }
        })
        .catch(error => {
            console.error('Error posting product data:', error);
        });
    });

    $('#id_quantity').on('input', function(e){
        let quantity = parseFloat(e.target.value);
        let value = parseFloat(quantity - (parseFloat(lf.value) + parseFloat(rm.value)));

        if (value < 0){
            value = 0;
        }

        actual.value = value
        actual.readOnly = true;
        actual.style.backgroundColor = 'lightgray';
    });

    function total_dish_cost(portions){
        let cost_per_kg = 0;
        let kgs = 0;

        kgs = portions / portion_multiplier;
        
        ingredientsData[0].forEach((i)=>{
            cost_per_kg += i.quantity * i.cost 
        });
        console.log(cost_per_kg)
        return kgs * cost_per_kg;
    }

    $('#save-button').on('click', function() {
        portions = parseFloat(document.getElementById('id_portions').value);
        const item = {
            dish: $('#id_dish option:selected').text(),
            portions: portions,
            total_cost: total_dish_cost(portions), 
        };

        cart.push(item);
        updateCartTable();
    });

    function updateCartTable() {
        const cartItems = $('#cart-items');
        cartItems.empty();
        cart.forEach((item, index) => {
            cartItems.append(`
                <tr>
                    <td><button class="btn border bx bx-trash" onclick="deleteItem(${index})"></button> <span class='mx-2'>${item.dish}</span></td>
                    <td><input type="number" class="form-control" value="${item.portions}" onchange="updateQuantity(${index}, this.value)"></td>
                    <td>${item.total_cost.toFixed(2)}</td>
                </tr>
            `);
        });
    }

    window.deleteItem = function(index) {
        cart.splice(index, 1);
        updateCartTable();
    }

    window.updateQuantity = function(index, newPortions) {
        const item = cart[index];
        item.portions = parseFloat(newPortions);
        item.total_cost = total_dish_cost(newPortions)
        updateCartTable();
    }
});
</script>
{% endblock content %}
