{% extends "base.html" %}
{% block title %} Dish List {% endblock %}
{% block content %}
<div class="">
    <nav class="d-flex justify-content-between align-items-center border-bottom">
        <div class='d-flex'>
            <a href='{% url "inventory:production_plans" %}' class='border btn bx bx-arrow-back fs-5'></a>
            <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
            <span class='fs-5'>Dishes</span>
        </div>
        <div>
            <ul class="list-unstyled d-flex">
                <li class="">
                    <a href="{% url 'inventory:dish_create' %}" class="btn btn-outline-dark mt-2">Add New Dish</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='mt-2'>
        <table class="table table-hover table-bordered" id="dishes_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Selling Price</th>
                    <th>Portion Multiplier</th>
                    <th>Ingredients</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for dish in dishes %}
                    <tr>
                        <td>{{ dish.name }}</td>
                        <td>{{ dish.selling_price_per_portion }}
                        <td>{{ dish.portion_multiplier }}</td>
                        <td>
                            {% for ingredient in ingredients %}
                                {% if dish == ingredient.dish %}
                                    {{ ingredient.raw_material.name }} ({{ ingredient.quantity }})<br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% comment %} <a href="{% url 'inventory:dish_update' dish.id %}" class="btn btn-warning btn-sm bx bx-edit"></a> {% endcomment %}
                            <a href="{% url 'inventory:dish_delete' dish.id %}" class="btn btn-danger btn-sm bx bx-trash"></a>
                            {% comment %} <a href="{% url 'inventory:ingredient_create' dish.id %}" class="btn btn-light btn-sm">Add Ingridients</a> {% endcomment %}
                            <!-- <a href="" class="btn btn-danger btn-sm">Update Ingridients</a> -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    new DataTable('#dishes_table')
</script>
{% endblock %}
