{% extends "base.html" %}
{% block title %} Dish List {% endblock %}
{% block content %}
<div class="">
    <nav class="d-flex justify-content-between align-items-center p-2">
        <div class='d-flex'>
            <a href='{% url "inventory:production_plans" %}' class='border btn bx bx-arrow-back fs-5'></a>
            <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
            <span class='fs-5'>Dishes</span>
        </div>
        <div>
            <ul class="list-unstyled d-flex">
                <li class="">
                    <a href="{% url 'inventory:dish_create' %}" class="btn btn-outline-dark mt-2">Add New Dish</a>
                </li>
            </ul>
        </div>
    </nav>
    <table class="table table-hover" id="dishes_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Portion Multiplier</th>
                <th>Raw Material</th>
                <th>Ingredients</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in dishes %}
                <tr>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.portion_multiplier }}</td>
                    <td>{{ dish.raw_material }}</td>
                    <td>
                        {% for ingredient in ingredients %}
                            {% if dish == ingredient.dish %}
                                {{ ingredient.name }} ({{ ingredient.quantity }})<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'inventory:dish_update' dish.id %}" class="btn btn-warning btn-sm bx bx-edit"></a>
                        <a href="{% url 'inventory:dish_delete' dish.id %}" class="btn btn-danger btn-sm bx bx-trash"></a>
                        <a href="{% url 'inventory:ingredient_create' dish.id %}" class="btn btn-light btn-sm">Add Ingridients</a>
                        <!-- <a href="" class="btn btn-danger btn-sm">Update Ingridients</a> -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    new DataTable('#dishes_table')
</script>
{% endblock %}
