{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Dish List {% endblock %}
{% block content %}
<div class="">
    <nav class="d-flex justify-content-between align-items-center p-2">
        <div class='d-flex'>
            <a href='{% url "inventory:dish_list" %}' class='border btn bx bx-arrow-back fs-5'></a>
            <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
            <span class='fs-5'>
                {% if dish %}Update Dish{% else %}Create Dish{% endif %}
            </span>
        </div>
        <div>
            <ul class="list-unstyled d-flex">
                <li class="">
                    <a href="{% url 'inventory:dish_create' %}" class="btn btn-outline-dark mt-2">Dishes</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="mt-4">
        <form id="production-plan-form" action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="smwHbbfyYESmLo6Q3upoq4HYhqqLWo50BPNjDQBbG5ujqAKsIvf8bPa3nMlX0NYI">
            <div id="div_id_raw_material" class="mb-3" data-select2-id="select2-data-div_id_raw_material"> <label for="id_raw_material" class="form-label requiredField">
                    Choose Ingrideient<span class="asteriskField">*</span> </label> <select name="raw_material" class="select form-select select2-hidden-accessible" required="" id="id_raw_material" data-select2-id="select2-data-id_raw_material" tabindex="-1" aria-hidden="true"> <option value="" selected="" data-select2-id="select2-data-2-lhw1">---------</option> <option value="4" data-select2-id="select2-data-14-tgbf">tomatoes</option> <option value="3" data-select2-id="select2-data-15-47cd">beef</option> <option value="6" data-select2-id="select2-data-16-ky5q">chicken</option> <option value="5" data-select2-id="select2-data-17-9ayj">paste</option>

            </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="select2-data-1-g1or" style="width: 358.2px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-id_raw_material-container" aria-controls="select2-id_raw_material-container"><span class="select2-selection__rendered" id="select2-id_raw_material-container" role="textbox" aria-readonly="true" title="chicken">chicken</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span> </div> <div id="div_id_quantity" class="mb-3"> <label for="id_quantity" class="form-label requiredField">
                    Quantity<span class="asteriskField">*</span> </label> <input type="number" name="quantity" step="any" class="numberinput form-control" required="" id="id_quantity"> </div> <div id="div_id_note" class="mb-3"> <label for="id_note" class="form-label requiredField">
                    Note<span class="asteriskField">*</span> </label> <input type="text" name="note" maxlength="100" class="textinput form-control" required="" id="id_note" spellcheck="false" data-ms-editor="true"> </div>

            <button type="button" id="save-button" class="btn btn-secondary btn-sm w-100">Save</button>
        </form>
    </div>
</div>
<script>
    
{% endblock %}