{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
   <div class='production-plan mt-2 d-flex justify-content-between align-items-center'>
        <div>
            <a href='{% url "inventory:meal_list" %}' class='border btn bx bx-arrow-back fs-5'></a>
            <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
            <span class='mt-2 fs-5'>Edit Meal: {{ meal.name }}</span>
        </div>
        <div>
            <ul class="list-unstyled mt-3 d-flex align-items-center">
                <li>
                    <a href="{% url 'inventory:meal_list' %}" class="mx-2 btn border">Meals</a>
                </li>
            </ul>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="d-flex justify-content-end">
            <a href="{% url 'inventory:meal_list' %}" class="btn btn-secondary mx-2">Cancel</a>
            <button type="submit" class="btn btn-primary">Update Meal</button>
        </div>
    </form>
</div>
{% endblock %}
