{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Techcity Pos System"/>
    <meta name="Author"content="casy moyo" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/main.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css'%}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% endblock css %}

    <script defer src="{% static 'css/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    <title>
        {% block title %}Techcity{% endblock title %}
    </title>
</head>
<style>
    hr{
        margin-top:-15px;
    }
    .pro{
        padding-top:19px;
    }
    hr{
        color:black;
    }
    .color{
        color:#3b0b89;
        font-weight:400;
    }
    .header-color{
        background:#ff6600 !important;
        height:20px;
    }
    .minus-margin{
        margin-top:-15px;
    }
    
    @media print {
        header, footer { 
            display: none; 
        }

        .print-hide {
            display: none; 
        }
        
        body { font-size: 12pt; }
        a { color: black; text-decoration: underline; } 
    }

    
</style>
<body>
<div class='account-statement'>
    <div class="w-100 header-color">
        
    </div>
    <div class='details text-center'>
        <img src='{% static 'assets/logo.png' %}' width='200px'/>
        <div class="mt-3">
            <small><i class='bx bx-phone'></i> {{ request.user.branch.phonenumber }} </small>
            <small class='px-2'><i class='bx bx-building'></i> {{ request.user.branch.address }} </small>
            <small><i class='bx bx-envelope'></i> {{ request.user.branch.email }} </small>
        </div>
    </div>
    <div class='content px-2'>
        <div class='d-flex justify-content-between align-items-center'>
            <div>
                <div class=' w-100 mt-2'>
                    <h5 class='fw-bold'>Purchase Order</h5>
                </div>
                <table class='mt-3'>
                    <tr>
                        <td class=''>Purchase Order No:</td>
                        <td class="px-3"><small>#{{ purchase_order.order_number }}</small></td>
                    </tr>
                    <tr>
                        <td class=''>Date:</td>
                        <td class="px-3"><small>{{ purchase_order.order_date }}</small></td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Delivery Date:</td>
                        <td>{{ purchase_order.delivery_date }}</td>
                    </tr>
                </table>
            </div>
        </div>  
        <div class='d-flex justify-content-between align-items-center'>
            <div class=''>
                <div class='fw-bold mt-2'>BILL TO</div>
                <table>
                    <tr>
                        <td class=''>Name:</td>
                        <td class="px-3">{{ purchase_order.supplier.name }}</td>
                    </tr>
                    <tr>
                        <td class=''>Phone Number:</td>
                        <td class="px-3">{{ purchase_order.supplier.phone }}</td>
                    </tr>
                    <tr>
                        <td class=''>Email:</td>
                        <td class="px-3">{{ purchase_order.supplier.email}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <div class='fw-bold'>BY</div>
                <table>
                    <tr>
                        <td class=''>Name:</td>
                        <td class="px-3">{{request.user.first_name}}</td>
                    </tr>
                    <tr>
                        <td class=''>Phone:</td>
                        <td class="px-3">{{request.user.phonenumber}}</td>
                    </tr>
                </table>
            </div>
        </div>        
    </div>
    <div class="mt-3">
        <table class='table border table-bordered table-hover rounded p-2' id='order_table' style="width: 100%;">
            <thead class='bg-primary'>
                    <th>Date</th>
                    <th>Order Number</th>
                    <th>Product</th>
                    <th>Unit Cost</th>
                    <th>Quantity</th>
                    <th>Total</th>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td data-id={{ order.id }}><small>{{ order.purchase_order.order_date }}</small></td>
                    <td data-id={{ order.id }}><small>{{ order.purchase_order.order_number }}</small></td> 
                    <td data-id={{ order.id }}><small>{{ order.product.name }}</small></td>
                    <td data-id={{ order.id }}><small>{{ order.unit_cost }}</small></td>
                    <td data-id={{ order.id }}><small>{{ order.quantity }}</small></td>
                    <td data-id={{ order.id }} class='text-center'><small id='total'></small></td>  
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">Subtotal</td>
                    <td class="text-center fw-bold" id="subtotal"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">Discount</td>
                    <td class='fw-bold text-center'>
                        {{ purchase_order.discount }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">Tax Rate</td>
                    <td id="tax_rate" class="fw-bold text-center">15%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">Tax Total</td>
                    <td id="tax" class="fw-bold text-center">{{ purchase_order.tax_amount }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">Handling Fee</td>
                    <td class="fw-bold text-center">
                        {{ purchase_order.handling_amount }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">Other</td>
                    <td class='text-center fw-bold'>
                        {{ purchase_order.other_amount }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">Total</td>
                    <td class="fw-bold text-center">{{ purchase_order.total_cost }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="print-hide">
        <button type="button" class="btn btn-primary  d-grid w-100">
            <i class='bx bx-printer' ></i>
            Print
        </button>
        <div class="mt-1"></div>
        <button type="button" class="btn btn-secondary d-grid w-100">
            <i class='bx bx-mail-send' ></i>
            email
        </button>
    </div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let rows = document.querySelectorAll('#order_table tbody tr');
        let subtotal = 0;

        const printBtn = document.querySelector('.btn-primary')

        printBtn.addEventListener('click', () => {
            window.print();
        });
    
        rows.forEach(row => {
            let unitCostCell = row.children[3];
            let quantityCell = row.children[4];
            let totalCell = row.children[5];
    
            let unitCost = parseFloat(unitCostCell.textContent.trim());
            let quantity = parseInt(quantityCell.textContent.trim(), 10);
    
            let total = unitCost * quantity;
            
            totalCell.textContent = total.toFixed(2);
            subtotal += total;
        });
    
        document.getElementById('subtotal').textContent = subtotal.toFixed(2);
    })
</script>
</html>
