{% extends "base.html" %}
{% load static %}
{% block title %}Production Sales In Portions{% endblock title %}
{% block content %}
<div class="products m-2">
    <nav class='mt-2 d-flex align-items-center justify-content-between'>
        <div>
            <ul class="list-unstyled d-flex align-items-center">
                <li><a href='/' class='bx bx-home btn border fs-5 mt-1'></a></li>
                <li class='mx-2 fs-5'>Sales In Portions</li>
            </ul>
        </div>
        <div>
            <form method="GET" class="d-flex">
                <select name="filter" class="form-select me-2" onchange="this.form.submit()">
                    <option value="today" {% if filter_by == 'today' %}selected{% endif %}>Today</option>
                    <option value="yesterday" {% if filter_by == 'yesterday' %}selected{% endif %}>Yesterday</option>
                    <option value="this_month" {% if filter_by == 'this_month' %}selected{% endif %}>This Month</option>
                    <option value="this_year" {% if filter_by == 'this_year' %}selected{% endif %}>This Year</option>
                </select>
                {% comment %}  {% endcomment %}
                <button type="submit" name="download" value="csv" class="btn btn-success ms-2">Download CSV</button>
            </form>
        </div>
    </nav>

    <div class="tables">
        <div class="">
            <table class="table table-hover table-responsive" id="production_sales_table" style="width: 100%;">
                <thead class="bg-primary">
                    <th>Name</th>
                    <th>Total Portions</th>
                    <th>Total Sold Portions</th>
                </thead>
                <tbody>
                    {% for item in production_data %}
                        <tr>
                            <td><small>{{ item.dish__name }}</small></td>
                            <td><small>{{ item.total_portions }}</small></td>
                            <td><small>{{ item.total_sold }}</small></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        new DataTable('#production_sales_table');
    </script>
</div>
{% endblock content %}
<input type="date" name="start_date" class="form-control me-2" placeholder="Start Date">
                <input type="date" name="end_date" class="form-control me-2" placeholder="End Date">
                <button type="submit" class="btn btn-primary">Filter</button>