{% extends "base.html" %}
{% load static %}
{% block title %}Products{% endblock title %}
{% block content %}
<div class="products m-2">
    <nav class='mt-2 d-flex align-items-center justify-content-between'>
        <div>
            <ul class="list-unstyled d-flex align-items-center">
                <li><a href='/' class='bx bx-home btn border fs-5 mt-1'></a></li>
                <li class='mx-2 fs-5 text-danger fw-bold'>Admin Inventory
                    (<span class='mx-2 fw-bold'>{{ count }} items</span>)
                </li>
            </ul>
        </div>
        <div>
            <ul class="list-unstyled d-flex mt-3">
                <li class="mx-2">
                    {% comment %} <a href="{% url 'inventory:create_purchase_order' %}" class="btn btn-outline-dark">Transfer(s) to Production</a> {% endcomment %}
                </li>
                <li>
                    <a href="{% url 'inventory:create_purchase_order' %}" class="btn btn-outline-dark mx-2">Add Inventory</a>
                </li>
                <li>
                    <a href="{% url 'inventory:purchase_orders' %}" class="btn btn-outline-dark">Purchase Orders</a>
                </li>
                <li>
                    <a href="{% url 'inventory:order_list' %}" class="btn btn-outline-dark mx-2">Reorder List</a>
                </li>
                <li>
                    <a href="{% url 'inventory:transfers' %}" class="btn btn-outline-dark">Transfers</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="tables">
        <table class="table table-hover table-responsive raw" id="raw_materials_table" style="width: 100%;">
            <thead class="bg-primary">
                <th>Name</th>
                <th>Cost per unit</th>
                <th>Quantity</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for raw_material in raw_materials  %}
                    <tr>
                        <td><small>{{ raw_material.name }}</small></td>
                        <td><small>{{ raw_material.cost}}</small></td>
                        <td><small>{{ raw_material.quantity | floatformat:3 }} {{ raw_material.unit }}</small></td>
                        <td>
                            <small>
                                <span>
                                    <a href="{% url 'inventory:product_detail' raw_material.id %}" class='text-dark'>
                                        <i class='bx bx-show'></i>
                                    </a>
                                </span>
                                <span class='mx-3'>
                                    <a href="{% url 'inventory:edit_inventory' raw_material.id %}" class="text-dark">
                                        <i class='bx bx-edit-alt'></i>
                                    </a>
                                </span>
                                <span>
                                    <span id='delete' data-id="" onclick="productId(this)" class="text-dark">
                                        <i class='bx bx-trash-alt'></i>
                                    </span>
                                </span>
                            </small>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        </div>
</div>
<script>
    new DataTable('#raw_materials_table')
    new DataTable('#products_table')
</script>
{% endblock content %}