{% extends "base.html" %}
{% load static %}
{% block title %}Production Products{% endblock title %}
{% block content %}
<div class="products">
    <nav class='mt-3 d-flex align-items-center justify-content-between border-bottom'>
        <div>
            <ul class="list-unstyled d-flex align-items-center">
                <li><a href='/' class='bx bx-home btn border fs-5 mt-1'></a></li>
                <li class='mx-2 fs-5'>Production Raw Materials</li>
            </ul>
        </div>
    </nav>
    <div class="tables">
        <table class="table table-bordered table-striped table-hover table-responsive raw" id="raw_materials_table" style="width: 100%;">
            <thead class="bg-primary">
                <th>Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for r_m in raw_materials  %}
                    <tr>
                        <td><small>{{ r_m.product.name}}</small></td>
                        <td><small>{{ r_m.quantity|floatformat:2}} {{ r_m.product.unit }}</small></td>
                        <td>
                            <small>
                                <span>
                                    <a href="{% url 'inventory:production_rm_detail' r_m.id %}" class='text-dark'>
                                        <i class='bx bx-show'></i>
                                    </a>
                                </span>
                            </small>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        </div>
</div>
<script>
    new DataTable('#raw_materials_table')
</script>
{% endblock content %}