{% extends "base.html" %}
{% load static%}
{% block title%} Product Detail {% endblock%}
{% block content %}
   <div class="inventory">
        <div>
            <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <div>
                    <a href='{% url "inventory:products"%}' class='border btn bx bx-arrow-back fs-5'></a>
                    <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
                    <span class='mt-2 fs-5'>{{ product.name | capfirst }}: Product Activity</span>
                </div>
            </div>
        </div>
        <div>
            <div class="table-detail mt-2 w-100 atable">
                <table class='table border rounded display p-2' style="width:100%" id='detailTable'>
                    <thead class='bg-primary'>
                        <tr>
                            <th>Date</th>
                            <th>By (user)</th>
                            <th>Refence</th>
                            <th>Log Type</th>
                            <th>Trans Qnty</th>
                            <th>Qnty At Hand</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                            <tr>
                                <td><small>{{ log.timestamp }}</small></td>
                                <td><small><span>{{ log.user }}</span></small></td>
                                {% if log.product %}
                                    <td data-id="{{log.invoice.id}}" id="invoice" style="cursor:pointer;"><small>{{ log.sale.receipt_number }}</small></td>
                                {% else %}
                                    <td data-id="{{ log.purchase_order.id }}" id="purchase_order" style="cursor:pointer;"><small>{{ log.purchase_order.order_number }}</small></td>
                                {% endif %}
                                <td>
                                    <small style='width:20px !important;'>
                                        {{ log.action }} 
                                        {% if log.description %}({{ log.description }}){% endif %}
                                    </small>
                                </td>
                                <td><small>
                                    {% if log.action == 'stock in' or log.action == 'Stock update' or log.action == 'sale cancelled' or log.action == 'Stock in' %}
                                        <span class='text-success'>{{log.quantity}}</span>
                                        <i class='text-success bx bx-chevron-up'></i>
                                    {% elif log.action == 'defective'%}
                                        <span class='text-danger'>{{log.quantity}}</span>
                                        <i class='text-danger bx bx-chevron-down'></i>
                                    {% elif log.action == 'Decline'%}
                                        <span class='text-danger'>{{log.quantity}}</span>
                                        <i class='text-danger bx bxs-circle bx-rotate-90 bx-tada'></i>
                                    {% elif log.action == 'Edit' or log.action == 'deactivated' or log.action == 'activated'%}
                                        <span class='text-dark'>{{log.quantity}}</span>
                                        <i class='text-danger bx bxs-circle bx-rotate-90 bx-tada'></i>
                                    {% else %}
                                        <span class='text-danger'>{{log.quantity}}</span>
                                        <i class='text-danger bx bx-chevron-down'></i>
                                    {% endif %}
                                    </small>
                                </td>
                                <td><small>{{log.total_quantity}}</small></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>  
                <div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <h5 class="modal-title fw-bold p-2" id="invoiceModalLabel">Invoice Details</h5>
                            <div class="modal-body" id="invoiceDetails"></div>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>
   </div>

<script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>  
<script>
    new DataTable('#detailTable')
    const navButtons = document.querySelectorAll('.nav-item')

    const invoiceModal = new bootstrap.Modal(document.getElementById('invoiceModal'));
    const invoiceDetails = document.getElementById('invoiceDetails');
    const transferDetails = document.getElementById('transferDetails');

   
    document.querySelector('table').addEventListener('click', (event) => {
        const target = event.target.closest('td');
        if (target && target.id === 'invoice') {
            const invoiceId = target.dataset.id;
            fetchInvoiceDetails(invoiceId); 
        } else if (target && target.id === 'transfer') {
            const transferId = target.dataset.id;
            fetchTransferDetails(transferId); 
        }
    });

    function fetchInvoiceDetails(invoiceId) {
        fetch(`/finance/invoice/details/${invoiceId}/`) 
            .then(response => response.json())
            .then(data => {
                invoiceDetails.innerHTML = `
                    <p>Invoice Number: ${data[0]?.invoice_number}</p>
                    <p>Customer: <a href='/finance/customer/account/${data[0]?.customer__id}/'>${data[0]?.customer__name}</a></p>
                    <p>Items: ${data[0]?.products_purchased}</p>
                    <p>Amount: ${data[0]?.amount}</p>
                    <p>Payment Status: ${data[0]?.payment_status}</p>
                    </div>
                `; 
                invoiceModal.show(); 
            });
    }
   
</script>  
{% endblock content %}