{% extends "base.html" %}
{% load static%}
{% block title%} Inventory {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="inventory-navbar">
            <div class="d-flex justify-content-between align-items-cente p-2">
                <div>
                    <a href='{% url "inventory:products"%}' class='border btn bx bx-arrow-back fs-5'></a>
                    <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
                    <span class='mt-2 fs-5'>{{ purchase_order.order_number}} <small class='px-1 fw-bold fx-6'>Order Detail</span>
                </div>
            </div>
        </div>
        <div>
            <div class="table-detail w-100">
                <table class='table border table-hover rounded p-2' id='order_table' style="width: 100%;">
                    <thead class='bg-primary'>
                            <th>Date</th>
                            <th>Order Number</th>
                            <th>Product</th>
                            <th>Unit Cost</th>
                            <th>Quantity</th>
                            <th>Total</th>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td data-id={{ order.id }}><small>{{ order.purchase_order.order_date }}</small></td>
                            <td data-id={{ order.id }}><small>{{ order.purchase_order.order_number }}</small></td> 
                            <td data-id={{ order.id }}><small>{{ order.product.name }}</small></td>
                            <td data-id={{ order.id }}><small>{{ order.unit_cost }}</small></td>
                            <td data-id={{ order.id }}><small>{{ order.quantity }}</small></td>
                            <td data-id={{ order.id }}><small id='total'></small></td>  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
   </div>
   <script>
    document.addEventListener('DOMContentLoaded', function() {
        let rows = document.querySelectorAll('#order_table tbody tr');

        new DataTable('#order_table')
        rows.forEach(row => {
            let unitCostCell = row.children[3];
            let quantityCell = row.children[4];
            let totalCell = row.children[5];

            let unitCost = parseFloat(unitCostCell.textContent.trim());
            let quantity = parseInt(quantityCell.textContent.trim(), 10);

            let total = unitCost * quantity;
            console.log(total)
            totalCell.textContent = total.toFixed(2);
        });
    });
</script>
{% endblock content %}