{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} Purchase Orders {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="inventory-navbar">
            <nav class="d-flex justify-content-between align-items-center border-bottom">
                <div class='fw-bold d-flex'>
                    <a href='{% url "inventory:products"%}' class='border btn bx bx-arrow-back fs-5'></a>
                    <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
                    <span class='fs-5'>Purchase Orders</span>
                </div>
                <div>
                    <ul class="list-unstyled mt-2">
                        <li>
                            <a  class="btn btn-outline-dark" href="{% url 'inventory:create_purchase_order' %}">Create Purchase Order</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div>
            <div class=" mt-2 w-100">
                <table class='table border table-hover rounded p-2' id='order_table' style="width: 100%;" >
                        <thead class='bg-primary'>
                            <tr>
                                <th>Date</th>
                                <th>Delivery Date</th>
                                <th>Order Number</th>
                                <th>Suplier</th>
                                <th>Total Cost</th>
                                <th>Notes</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td class="{% if order.is_partial %}bg-warning text-dark{% endif %}" data-id={{ order.id }}><small>{{ order.order_date }}</small></td>
                                    <td class="{% if order.is_partial %}bg-warning text-dark{% endif %}" data-id={{ order.id }}><small>{{ order.delivery_date }}</small></td>
                                    <td class="{% if order.is_partial %}bg-warning text-dark{% endif %}" data-id={{ order.id }}><small>{{ order.order_number }}</small></td>
                                    <td class="{% if order.is_partial %}bg-warning text-dark{% endif %}" data-id={{ order.id }}><small>{{ order.supplier.name }}</small></td>
                                    <td class="{% if order.is_partial %}bg-warning text-dark{% endif %}" data-id={{ order.id }}><small>{{ order.total_cost }}</small></td>
                                    <td class="{% if order.is_partial %}bg-warning text-dark{% endif %}" data-id={{ order.id }}><small>{{ order.notes }}</small></td>
                                    <td class="{% if order.is_partial %}bg-warning text-dark{% endif %}" data-id={{ order.id }}><small>{{ order.status }}</small></td>
                                    <td class="{% if order.is_partial %}bg-warning text-dark{% endif %}">
                                        <a href="{% url 'inventory:purchase_order_detail' order.id %}" class="btn bx bx-show"></a>
                                        <!-- Share button with dropdown -->
                                        <div class="dropdown d-inline-block">
                                            <a href="javascript:void(0)" class="mx-1" id="shareDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class='bx bx-share-alt'></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="shareDropdown">
                                                <li>
                                                    <a class="dropdown-item" href="https://api.whatsapp.com/send?text={{ order.url }}" target="_blank">
                                                        <i class='bx bxl-whatsapp fs-5 text-success'></i> WhatsApp
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="mailto:?subject=Order%20Details&body=Check%20this%20order: {{ order.url }}">
                                                        <i class='bx bx-envelope fs-5'></i> Email
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="{% url 'inventory:print_purchase_order' order.id %}" class="btn bx bx-printer"></a>

                                        {% if order.status != 'received' %}
                                            <button class="btn btn-sm btn-light" data-id={{ order.id }} onclick="status(this)">Change Status</button>
                                        {% else %}
                                            {% if order.received %}
                                                <small class="bg-success fw-bold text-light p-2 rounded text-center w-100">Recieved</small>
                                            {% else %}
                                                <a href="{% url 'inventory:receive_order' order.id %}" class="btn btn-sm btn-light">Receive Order Items</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="statusFormModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="fw-bold">Change Status</h5>
                        <form action="">
                            {% csrf_token %}
                            {{ status_form | crispy }}
                            <div class="d-flex justify-content-end">
                                <div class="">
                                    <button type="reset" class="btn btn-danger btn-sm w-100">
                                        <i class='bx bx-reset'></i>
                                        Reset
                                    </button>
                                </div>
                                <span class="px-1"></span>
                                <div class="">
                                    <button type="button" onclick="changeStatus()" class="btn btn-secondary btn-sm w-100">
                                        <i class='bx bx-save'></i>
                                        change
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h5 class="fw-bold">Status Successfully Changed and Related Accounts updated</h5>
                    </div>
                </div>
            </div>
        </div>
   </div> 
   <script>
        new DataTable('#order_table');
        
        let orderID = '';
        const statusFormModal = new bootstrap.Modal(document.getElementById('statusFormModal'));
        const successModal = new bootstrap.Modal(document.getElementById('successModal'));
        const changeStatussubmitBtn = document.getElementById('c_sbtn');

        function status(td){
            orderID = td.dataset.id
            statusFormModal.show()
        }

        function changeStatus(){
            const data = {
                'status':document.getElementById('id_status').value
            }

            fetch(`/inventory/purchase_orders/status/${orderID}/`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  "X-CSRFToken": getCookie("csrftoken"), 
                },
                body: JSON.stringify(data),
              })
              .then(response => response.json())
              .then(data=>{
                  if (data.success) {
                    statusFormModal.hide()
                    successModal.show()
                    setTimeout(()=>{
                      window.location.reload()
                    }, 1000)
                  } else {
                    cartError.textContent=data.message;
                  } 
                })
                .catch((error) => {
                  console.error("Error:", error);
                  addToCartError.textContent=data.message;
                });
        
        }
        
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    } 
   </script>
{% endblock content %}