{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} Receive Purchase Order {% endblock%}
{% block content %}
<div class="inventory-navbar">
    <nav class="d-flex justify-content-between align-items-center border-bottom mb-2 p-2">
        <div class="d-flex">
            <div>
                <h4 class='mt-1'><small class='fx-6'>Receive Purchase Order: </small>{{ purchase_order.order_number}}</h4>
            </div>
        </div>
    </nav>
</div>
<div>
     <table class='table table-striped table-responsive' id='order_items_table' style='width:100%;'> 
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Ordered Quantity</th>
                <th>Received Quantity</th>
                <th>Enter Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in orders %}
            <tr>
                <td class='fs-5'>{{ item.product.name }}</td>
                <td>
                    {{ item.quantity }}
                </td>
                <td>
                    {{ item.received_quantity }}
                </td>
                <td>
                    {% if item.received %}
                        <div class="rounded fs-6">All received</div>
                    {% else %}
                        <input type="number" id="quantity_{{ item.id }}" placeholder="Enter quantity received" min="1" class='form-control'>
                    {% endif %}
                </td>
                <td>
                    {% if item.received %}
                        <button class="submit-btn btn btn-secondary w-100" disabled onclick="submitQuantity('{{ item.id }}')">Submit</button>
                    {% else %}
                        <button class="submit-btn btn btn-secondary w-100" onclick="submitQuantity('{{ item.id }}')">Submit</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>
 <script>
    new DataTable('#order_items_table',{
        pageLength: 100 
    })

    function submitQuantity(itemId) {
        console.log(itemId)
        const quantity = document.getElementById(`quantity_${itemId}`).value;
        if (quantity <= 0) {
            alert("Quantity must be greater than zero.");
            return;
        }

        const data = {
            id: itemId,
            quantity: parseInt(quantity)
        };

        fetch(`{% url "inventory:process_received_order" %}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload()
            } else {
                Swal.fire({
                    title: "Error",
                    text: data.message,
                    icon: "error"
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                title: "Error",
                text: error,
                icon: "error"
            });
        });
    }
</script>
{% endblock content %}

