{% extends "base.html" %}
{% load static %}
{% block title %}Transfers{% endblock title %}
{% block content %}
<div class="products">
    <nav class='d-flex align-items-center justify-content-between border-bottom mt-2'>
        <div>
            <ul class="list-unstyled d-flex align-items-center">
                <li><a href='/' class='bx bx-home btn border fs-5'></a></li>
                <li class='fs-5 mx-2'>Transfers</li>
            </ul>
        </div>
        <div>
            <ul class="list-unstyled d-flex align-items-center">
                <li><a href='{% url "inventory:add_transfer" %}' class='btn btn-outline-dark'>Add Transfers</a></li>
            </ul>
        </div>
    </nav>
    <div class="tables">
        <table class="table table-hover table-responsive raw" id="transfers_table" style="width: 100%;">
            <thead class="bg-primary">
                <th>Date</th>
                <th>Transfer number</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% for transfer in transfers  %}
                    <tr>
                        <td>
                            <a href=''>
                                <small>{{ transfer.created_at }}</small>
                            </a>
                        </td>
                        <td>
                            <a href=''>
                                <small>{{ transfer.transfer_number }}</small>
                            </a>
                        </td>
                        <td>
                            <a href=''>
                                {% if transfer.status %}
                                    <small>received</small>
                                {% else %}
                                    <small>not yet received</small>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        </div>
</div>
<script>
    new DataTable('#transfers_table')
</script>
{% endblock content %}