
{% extends "base.html" %}
{% load static %}
{% block title %}Email List{% endblock title %}
{% block content %}
<div>
    {% csrf_token %}
    <div class='d-flex justify-contetext-center border-bottom py-2'>
        <div>
            <a href='/' class='bx bx-home btn border fs-5'></a>
            <span class='mt-2 mx-2 fs-5'>Emails Notifications By Module</span>
        </div>
    </div>
    
    <h5 class="mt-3">Modules</h5>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <th>Details</th>
            {% for user in system_users %}
                <th class="text-center">{{ user.first_name }}</th>
            {% endfor %}
        </thead>
        <tbody>
            <tr>
                <td>Position</td>
                {% for user in system_users %}
                    <th class="text-center">{{ user.role }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>Inventory</th>
                {% for user in system_users %}
                    <th></th>
                {% endfor %}
            </tr>
            <tr>
                <td>CRUD <small>(create, read, update & delete)</small></td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="crud" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                            checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Low stock level</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="low stock level" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Out of stock</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="out of stock" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Received Stock</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="received stock" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Stock Descrepencies</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="stock descrepencies" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Expiry date warnings</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="Expiry date warnings" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Damaged Stock</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="damaged Stock" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Supplier prices</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="supplier_prices" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed  %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Purchase Orders</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="purchase orders" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Purchase Order Descrepencies</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="Purchase Order Descrepencies" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr></tr>
                <td>Order reminders</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="inventory" data-name="Order reminder" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Sales and Transactions</th>
                {% for user in system_users %}
                    <th></th>
                {% endfor %}
            </tr>

            <tr>
                <td>Sales returns</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="sales" data-name="sales returns"  id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed  %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Sale Void</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="sales" data-name="sales void"  id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed  %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Discounts</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="sales" data-name="discount"  id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed  %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Overiding prices</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="sales" data-name="overiding prices"  id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed  %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Dealer sales</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="sales" data-name="dealer sales"  id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed  %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Finance</th>
                {% for user in system_users %}
                    <th></th>
                {% endfor %}
            </tr>
            <tr>
                <td>Sales</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="finance" data-name="sales"  id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed  %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Tax Descrepiences</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="finance" data-name="Tax Descrepiences"  id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed  %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Not stated Expense break down</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="fiance" data-name="Not stated Expense break down"  id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed  %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Expenses</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="finance" data-name="expense" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Sales Target</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="finance" data-name="Sales Target" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Cash Ups</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="finance" data-name="cash up" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th></th>
                {% for user in system_users %}
                    <th></th>
                {% endfor %}
            </tr>
            <tr>
                <td>End Of Day</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="end of day" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Employees</th>
                {% for user in system_users %}
                    <th></th>
                {% endfor %}
            </tr>

            <tr>
                <td>Employee Perfomance</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="employee" data-name="Employee Perfomance" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <th>Customers</th>
                {% for user in system_users %}
                    <th></th>
                {% endfor %}
            </tr>

            <tr>
                <td>Sales Returns</td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="customer" data-name="Sales Returns" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>Monthly payments <small>(Layby, rentals & pay laters)</small></td>
                {% for user in system_users %}
                    <td class="text-center">
                        <input type="checkbox" data-parent="customer" data-name="Lay buy date due" id="id_{{ user.id }}"
                        {% for pem in permissions %}
                            {% if user == pem.user and pem.is_allowed %}
                                checked
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                {% endfor %}
            </tr>
            
        </tbody>
    </table>
</div>
<script>
    document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
        const userId = this.id.split('_')[1];
        const parent = this.getAttribute('data-parent');
        const name = this.getAttribute('data-name');
        const isAllowed = this.checked;

        // Send the AJAX POST request
        fetch('/settings/update-permission/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,  
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `user_id=${userId}&parent=${parent}&name=${name}&is_allowed=${isAllowed}`,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                    icon:'success',
                    text:`Email Notification Permission updated: ${name} for user ${userId} is now ${isAllowed ? 'allowed' : 'not allowed'}.`,
                    icon: 'success'
                }).then(()=>{
                    window.location.reload()
                })
            }
        })
        .catch(error => console.error('Error:', error));
    });
});

</script>
{% endblock content %}