*::-webkit-scrollbar {
    width: 8px;
    height: 8px; 
}

*::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

*::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

*::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

*::-webkit-scrollbar-horizontal {
    height: 8px;
}

*::-webkit-scrollbar-vertical {
    width: 8px;
}
@mixin links{
    .menu-link{
        cursor: pointer;
        a{
            text-decoration: none;
            color:#333;
        }
    }
    .menu-link:hover{
        a{
            color: #777;
        }
    }
}


@mixin overflow($height) {
    height: $height;
    // overflow-y: auto;
}

@mixin drop-down{
    .dropdown{
        position: relative;
        .dropdown-menu{
            position: absolute;
            top:100%;
            left:0;
            display: none;
            border: none;
        }
    }
    .dropdown:hover{
        .dropdown-menu{
            display: block;
            .dropdown-link{
                a{
                    color: #333 !important;
                }
            }
            .dropdown-link:hover{
                a{
                    color: #999 !important;
                }
            }
        }
    }
}


.overflow{
    @include overflow(99vh)
}

@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf'); 
}

.Urban-Eat{
    font-family: Lato-Regular;
    a{
        text-decoration: none;
        color:#333;
    }
   
    overflow-x: hidden;

    .hidden{
        display: none;
    }

    .activate{
        background: #333;
        color: white !important;
    }

    .finance{
        .card{
            border:none;
        }
        select{
            border:none;
        }
    }
        
}
