{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
   <div class='d-flex justify-content-between align-items-center border-bottom py-2'>
        <div>
            <a href='/' class='bx bx-home btn border fs-5'></a>
            <span class='mt-2 mx-2 fs-5'>Settings</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <a href="{% url 'settings:list_emails' %}">
                <div class="card border-none">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <p>Email Notifications</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="{% url 'settings:stock_valuation' %}">
                <div class="card border-none">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <p>Stock Evaluation</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
