{% extends 'base.html' %}
{% block title %}
  End Of Day Detail
{% endblock title %}
{% block content %}
<style>
    .card{
        border:none;
        background:#8d6e63;
    }
</style>
<div>
    <h2 class="text-center mt-2 p-2 border-bottom">End Of Day Report: {{ end_of_day.date }}</h2>
    <div class="row">
        <div class="col-3">
            <div class="card text-light">
                <div class="card-body text-center">
                    <h6 class="fw-bold">Taken Stock Value</h6>
                    <p class="fs-4">${{ taken_stock_value|floatformat:2 }}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-light">
                <div class="card-body text-center">
                    <h6 class="fw-bold">Staff Stock Value</h6>
                    <p class="fs-4">${{ staff_value }}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-light">
                <div class="card-body text-center">
                    <h6 class="fw-bold">Declared Stock Value</h6>
                    <p class="fs-4">${{ taken_stock_value|floatformat:2 }}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-light">
                <div class="card-body text-center">
                    <h6 class="fw-bold">Sold Stock Value</h6>
                    <p class="fs-4">${{ total_amount_sold_today }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-3">
            <div class="card text-light">
                <div class="card-body text-center">
                    <h6 class="fw-bold">Portions Difference</h6>
                    <p class="fs-4">${{ portion_cost_value }}</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-light">
                <div class="card-body text-center">
                    <h6 class="fw-bold">Cashed Amount</h6>
                    <p class="fs-4">${{ end_of_day.cashed_amount }}</p>
                </div>
            </div>
        </div> 

        <div class="col-3">
            <div class="card text-light">
                <div class="card-body text-center">
                    <h6 class="fw-bold">Wastage</h6>
                    <p class="fs-4">${{ wastage_cost_value }}</p>
                </div>
            </div>
        </div> 

        <div class="col-3">
            <div class="card text-light">
                <div class="card-body text-center">
                    <h6 class="fw-bold">Gross Profit</h6>
                    <p class="fs-4">${{ gross_profit }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <h3 class="mt-2 mb-2">Sales</h3>
            <table class="table table-borderless">
                <thead>
                    <th>Details</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Total</td>
                        <td>{{ total_quantity_sold_today }}</td>
                        <td class="fs-5">{{ total_amount_sold_today }}.00</td>
                    </tr>
                    <tr>
                        <td>Staff</td>
                        <td>({{ total_staff_portions }})</td>
                        <td class="fs-5">({{ total_amount_staff_sold_today }}.00)</td>
                    </tr>
                    <tr class="border-top">
                        <td>Non Staff</td>
                        <td>{{ non_staff_quantity }}</td>
                        <td class="fs-5">{{ non_staff_total_amount }}.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Cashed Amount</td>
                        <td></td>
                        <td class="border-bottom fs-5">({{ end_of_day.cashed_amount }})</td>
                    </tr>
                    <tr>
                        <td>Difference</td>
                        <td></td>
                        <td>
                            {% if difference < 0 %}
                              <span class="text-danger fw-bold fs-5">{{ difference }}</span>
                            {% else %}
                                {{ difference }}
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="negatives d-none">
            <table>
                <tbody>
                    <tr>
                        <td>Total Negative Dishses</td>
                        <td>{{'43'}}</td>
                    </tr>
                    <tr>
                        <td>Total Positive Dishes</td>
                        <td>$</td>
                    </tr>
                    <tr>
                        <td>Difference</td>
                        <td>{{'43'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
    <div class="main mt-4 border rounded p-1">
        <h3 class="mt-2 mb-2">Dishes</h3>
        <table class="table">
            <thead>
                <th>Dish Name</th>
                <th>Auto Calculated Portions</th>
                <th>Portions Sold</th>
                <th>Staff Portions</th>
                <th>Price Per Unit</th>
                <th>Wastage</th>
                <th>Left Overs</th>
                <th>Over/Less</th>
                <!-- <th>Expected Amount</th>
                <th>Difference</th>
            </thead> -->
            <tbody>
                {% for item in end_of_day_items %}
                    <tr>
                        <td>{{ item.dish_name }}</td>
                        <td>{{ item.total_portions }}</td>
                        <td class="portions_sold">{{ item.total_sold}}</td>
                        <td>{{ item.staff_portions }}</td>
                        <td>{{ item.price_per_unit }}</td>
                        <td class="wastage">{{ item.wastage }}</td>
                        <td class="leftovers">{{ item.leftovers}}</td>
                        <td class="o_l">{{ item.expected}}</td>
                        <!-- <td></td>
                        <td></td>
                        <td></td> -->
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <td class="fw-bold">Totals</td>
                <td></td>
                <td class="portions_sold_value fw-bold"></td>
                <td></td>
                <td></td>
                <td class="wastage_value fw-bold"></td>
                <td class="leftovers_value fw-bold"></td>
                <td class="o_l_value fw-bold"></td>
            </tfoot>
        </table>
    </div>
</div>
<script>
    const portionsSold = document.querySelectorAll('.portions_sold')
    const wastage = document.querySelectorAll('.wastage')
    const leftovers = document.querySelectorAll('.leftovers')
    const o_l = document.querySelectorAll('.o_l')

    console.log(portionsSold)

    total_sold = 0
    total_wastage = 0
    total_leftovers = 0
    total_o_l = 0

    portionsSold.forEach((tr)=>{
        let value = parseFloat(tr.textContent)
        total_sold += value
    })
    
    wastage.forEach((tr)=>{
        let value = parseFloat(tr.textContent)
        total_wastage += value
    })

    leftovers.forEach((tr)=>{
        let value = parseFloat(tr.textContent)
        total_leftovers += value

        
    })

    o_l.forEach((tr)=>{
        let value = parseFloat(tr.textContent)
        total_o_l += value

        
    })

    document.querySelector('.portions_sold_value').innerHTML=total_sold
    document.querySelector('.o_l_value').innerHTML=total_o_l
    document.querySelector('.leftovers_value').innerHTML=total_leftovers
    document.querySelector('.wastage_value').innerHTML=total_wastage

    console.log(total_sold, total_o_l, total_leftovers, total_wastage)
</script>
{% endblock content%}