{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} Users {% endblock%}
{% block content %}
<div class="users mt-2"> 
    <div class="card">
      <div class="card-header fw-bold">
        {{user.first_name}} {{user.last_name}}
      </div>
      <div class="card-body">
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <img src="{% if user.profile.profile_image %}{{ user.profile.profile_image.url }}{% else %}{% static 'assets/avatar.png' %}{% endif %}" alt="Profile Picture" class="img-thumbnail" style="width: 100px; height: 100px;">
                </div>
                <div>
                    {# header#}
                    <p class="fw-bold pb-2">Personal Details:</p>
                    <p class="fw-normal">First Name: {{user.first_name}}</p>
                    <p class="fw-normal">Last Name: {{user.last_name}}</p>
                    <p class="fw-normal">Phone Number: {{user.phonenumber}}</p>
                    <p class="fw-normal">Email: {{user.email}}</p>
                </div>
                <div>
                    {# header#}
                    <p class="fw-bold pb-2">Work Details:</p>
                    <p class="fw-normal">Company: {{user.company}}</p>
                    <p class="fw-normal">Branch: {{user.branch}}</p>
                    <p class="fw-normal">Role: {{user.role}}</p>
                    <p class="fw-normal">User Code: {{user.code}}</p>
                </div>
                <div>
                    <a id="editUser" class="btn btn-light btn-sm" data-user-id="{{ user.id }}">
                        <i class="bx bx-edit"></i>
                        Edit Details
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
    {# ********************************* modal ********************************* #}
    
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content w-100 p-4">
            <h6 class="fw-bold">Add User</h6>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <div class="d-flex justify-content-end">
                    <div class="">
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="bx bx-reset"></i>
                            Reset
                        </button>
                    </div>
                    <span class="px-2"></span>
                    <div class="">
                        <button type="submit" class="btn btn-secondary btn-sm">
                            <i class="bx bx-save"></i>
                            Save
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
      </div>
</div>

<script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>  
<script> 
    // load user data
    const editUserBtn = document.getElementById('editUser');
    const editUserBtns = document.querySelectorAll('.editUserBtn');
    const editModal = new bootstrap.Modal(document.getElementById('editUserModal'));
    
    editUserBtn.addEventListener('click', function() {
        const userId = this.getAttribute('data-user-id');
        const url = "{% url 'users:ajax_get_user_data' 0 %}".replace('0', userId);

        $.ajax({
            url: url,
            success: function(data) {
                $('#editUserModal input[name="first_name"]').val(data.first_name);
                $('#editUserModal input[name="last_name"]').val(data.last_name);
                $('#editUserModal input[name="username"]').val(data.username);
                $('#editUserModal input[name="email"]').val(data.email);
                $('#editUserModal input[name="phonenumber"]').val(data.phonenumber);
                $('#editUserModal select[name="company"]').val(data.company);
                $('#editUserModal select[name="branch"]').val(data.branch);
                $('#editUserModal select[name="role"]').val(data.role);
                editModal.show();
            }
        });
    });
</script>
{% endblock content %}